/** Clases por nombre */
*,body {margin:0; padding:0; border:0; font-family:Arial, Helvetica, sans-serif;}
body { background-color:#FFFFFF; font-size:11px; color:#333; height: 100%;}
a { text-decoration:none; }

/** containers y clases globales */
#menu ul{
	list-style-type: none; 
	width: 100%;
	line-height:165%;
}

#menu ul li{
	border-bottom: 1px solid #ccc;
	height: 20px;
	width: 100%;
	vertical-align: middle;
}
#menu ul li a,
#menu ul li a:link,
#menu ul li a:visited{
	padding:0px 0px 0px 20px;
	height: 20px;
	width: 100%;
	color:#999;
	text-decoration: none;
	float: left;
	vertical-align: middle;
}

#menu ul li a:hover,
#menu ul li a.selected {
	padding:0px 0px 0px 20px;
	background: #FFF url(../images/selected.gif) left center no-repeat;
	height:20px;	
	width: 100%;
	color:#333;
	text-decoration:none;
	float:left;
	vertical-align: middle;
}

#menu input{
	width: 80px;
}

#container{ 
	width: 100%;
	height: 600px; 
	/*margin: 0 auto; /* esto hace que se centre */
	font-size:inherit;
}

#container input,
#container select{
	border: 1px solid #999; 
}

#container textarea{
	border: 1px solid #999; 
	font-size:11px;
	width: 100%;
	height:200px;
}

#center {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#container button {
	background-color: #eee; 
	margin: 0px;
	padding: 0px;
	border: 1px solid #999;
	width: 80px;
	cursor: pointer;
	/*vertical-align: middle;*/
}

#container button:hover{
	background-color: #ccc;
}

#container button img{
	vertical-align: top;
	padding-top: 1px;
}

#container table {
	font-size:inherit;
	text-align: right;
	/*border: 1px dotted #000;/**/
	width: 100%;
}

#content table{
	text-align: left;
	font-size: inherit;
	width: 100%;
/*	border-left: 1px solid #ccc;*/
}

#content table th{
	background: #ccc;
	color: #333;
}

#content table tr{
	height: 20px;
}

#content table tr.odd{
	background: #EEE;
}

#content-header {
	margin-left:0px;
	padding:0px;
	width:100%;/* cambiar por static sizes*/
	min-height: 50px;
	float: left;
	background-color: #FFF;
	text-align: right;
}

#content-header table td{
	background: #fff;
}

#content-header table td button {
	background-color: #eee; 
	margin: 0px; 
	padding: 0px;
	border: 1px solid #999;
	text-align: center;
	width: 24px;
	cursor:pointer;
	vertical-align: middle;
}

#content table th{
	background: url(../images/title.gif) left top repeat-x;
	height: 26px;
}
#content table th td{
	border: 0px;
}

#content table td{
	/*background: #fff;*/
	/*border-right: 1px solid #ccc;*/
	/*border-bottom: 1px dotted #999;*/
	vertical-align: middle;
	padding: 1px;
	height: 20px;
}

#content table td.top{
	vertical-align: top;
	border-top: 0;
}

#content table td.part1{
	border-bottom: 1px solid #ccc;
	border-left:  1px solid #ccc;
	border-right:  1px solid #ccc;
}

#content table td.part2{
	border-bottom: 1px solid #ccc;
	border-right:  1px solid #ccc;
	/*width: 20%;*/
}

#content table td button img {
	border: 0px;
	width: 16px;
	height: 16px;
	text-align: left;
}

#content table td button table td {
	border: 0px;
	/*background: #eee;	*/
	text-align: left;
}

#content table td img {
	/*background-color: #eee; */
	margin: 1px; 
	padding: 0px;
	border: 1px solid #999;
	/*width: 10px;
	height: 10px;*/
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
}

#content table td a:link,
#content table td a:visited{
	text-decoration: none;
}

#content table.plain,
#content table td.plain{
	border:0px;
}

#header {
	margin-top:0px;
	margin-right:0px;
	margin-left:0px;
	border:0;
	background-color:#eee;
	background-repeat:no-repeat;
	background-image: url(images/header.gif);
	background-position: top;
	color:#FFF;
	width:100%;
	height:30px;
} 

#menu{
	border:0;
	margin:0;
	padding:0;
	width: 100%;
	/*min-height: 100%;*/
	float:left;
	background-color:#EEE;
}

#content{
	margin-left:0px;
	padding:0px;
	width:100%;/* cambiar por static sizes*/
	/*min-height: 50px;*/
	float:left;
	color:#999;
	background-color: #FFF;
	text-align: right;
	vertical-align: top;
}

.submenulabel{
	background: #ccc url(../images/title.gif) left top repeat-x;
	height: 22px;
	width: 100%;
	cursor: pointer;
	/*border-bottom: 1px dotted #999 ;*/
	/*background-image: url('images/close.gif');*/
	padding-left: 10px;
	padding-top: 5px;
}

.menucontent{
	width: 100%;
	border-bottom: 1px solid #999;
}
/*
.menucontent ul{
	list-style-type:none;
	width: 100%;
}

.menucontent ul li{
	border-bottom: 1px dotted #999;
	height: 20px;
	width: 100%;
}

.menucontent ul li a:link, 
.menucontent ul li a:visited{
	padding:0px 0px 0px 15px;
	width: 100%;
	color:#999;
	text-decoration:none;
	float:left;
}

.menucontent ul li a:hover {
	padding:0px 0px 0px 15px;
	background-color:#FFF;
	width: 100%;
	color:#333;
	text-decoration:none;
	float:left;
}*/

.border{
	border: 1px solid #999;
	background-color: #eee;
}

.file{
	border: 1px solid #999;
}

.error{
	color: #990000;
	/*background-color: #ffbbbb;*/
	/*border: #ff0000 solid 1px;*/
	height: 20px;
}
/* TABS navigation */

#navigation a {
	color: #333;
	background: url(../images/left-tab-hover.gif) left bottom no-repeat;
	text-decoration: none;
	padding-left: 7px;
	height: 30px;
}

#navigation a span {
	background: url(../images/right-tab-hover.gif) right bottom no-repeat;
	padding-top: 5px;
	padding-right: 7px;
	height: 25px;
	vertical-align: middle;

}

#navigation a, #navigation a span{
	display: block;
	float: left;
}

/* Hide from IE5-Mac \*/
#navigation a, #navigation a span 	{
	float: none;
}
/* End hide */

#navigation a:hover,
#navigation a.selected{
	color: #333333;
	background: url(../images/left-tab.gif) left bottom no-repeat;
	padding-left: 7px;
}

#navigation a:hover span,
#navigation a.selected span{
	background: url(../images/right-tab.gif) right bottom no-repeat;
	padding-right: 7px;
}

#navigation ul{
	list-style: none;
	padding-left: 30px;
	margin: 0;
}

#navigation li{
	float: left;
	list-style: none;
	margin-left: 1px;
}

/* Relation's tabs*/
#relation a {
	color: #333;
	background: url(../images/up-left-tab.gif) left top no-repeat;
	text-decoration: none;
	padding-left: 7px;
	height: 25px;
}

#relation a span {
	background: url(../images/up-right-tab.gif) right top no-repeat;
	padding-top: 5px;
	padding-right: 7px;
	height: 20px;
	vertical-align: middle;
}

#relation a,
#relation a span{
	display: block;
	float: right;
}

/* Hide from IE5-Mac \*/
#relation a,
#relation a span 	{
	float: none;
}
/* End hide */

#relation a:hover,
#relation a.selected{
	color: #333;
	background: url(../images/up-left-tab-hover.gif) left top no-repeat;
	padding-left: 7px;
}

#relation a:hover span,
#relation a.selected span{
	background: url(../images/up-right-tab-hover.gif) right top no-repeat;
	padding-right: 7px;
}

#relation ul{
	list-style: none;
	padding-left: 30px;
	margin: 0;
}

#relation li{
	float: right;
	list-style: none;
	margin-left: 1px;
}
